html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style-type: none;
    outline: 1px black solid;
    margin: 5px;
}
span {
    float: right;
}
.delBtn {
    float: right;
}

.container {
    background-color: white;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    background-color: grey;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    outline: 1px black solid;

}